.header {
    background-color: #f7e5c1;
}
.card {
    background-color: #fefcf9;
    border-color: #d6d6d6;
}
body {
    background-color: #fdf2e9;
}
.header {
    background-color: #f7e5c1;
    text-align: center;
}

.header a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
}
.user-posts {
    background-color: #fff1e6;
    text-align: center;
}
.user-posts h3, .current-title {
    color: #c17d11;
}
.user-posts .post {
    border-color: #ffdab3;
}
.user-posts .post h3 {
    color: #c17d11;
}
.user-posts .post p {
    color: #a05631;
}
.user-posts .post .comments {
    background-color: #ffe8d6;
}
.user-posts .post .comments h3 {
    color: #c17d11;
}
.container {
    max-width: 1200px;
}

.current-user-post-title {
    font-size: 1.5rem;
}

.no-posts {
    display: block;
    font-size: 1.5rem;
}